version: '3.8'

services:
  test-runner:
    build:
      context: .
      target: test-runner-final
    container_name: test-runner

    environment:
      - API_KEY=${API_KEY}
      - API_TOKEN=${API_TOKEN}
    command: [
      "/bin/sh",
      "-c",
      "mvn clean test -Dsurefire.useFile=false -DfailIfNoTests=false && allure serve /app/allure-results --host 0.0.0.0 --port 5050"
    ]

    ports:
      - "5050:5050"

    # Map volumes to share results with your host machine (optional but recommended)
    volumes:
      - ./allure-results:/app/allure-results
      - ./surefire-reports:/app/surefire-reports