<?xml version="1.0" encoding="UTF-8"?>
<suite name="API Automation Suite" parallel="tests" thread-count="3">
    <test name="REST Assured Tests">
        <classes>
            <class name="com.testing.tests.restassured.BoardTestsRestAssuredTest"/>
        </classes>
    </test>

    <test name="Retrofit Tests">
        <classes>
            <class name="com.testing.tests.retrofit.BoardTestsRetrofitTest"/>
        </classes>
    </test>

    <test name="OkHttp Tests">
        <classes>
            <class name="com.testing.tests.okhttp.BoardTestsOkHttpTest"/>
        </classes>
    </test>
</suite>